<h2>Companies</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Symbol</th>
      <th>Market</th>
      <th>Stock Price</th>
      <th>Cash per share</th>
      <th>Cash flow per share</th>
      <th>Intrinsic value (DCF)</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><span class="company_name"><%= link_to company.name, company %></span></td>
        <td><%= company.symbol %></td>
        <td><%= company.market %></td>
        <td><%= number_to_currency(company.stock_price.to_f / 100) %></td>
        <td><%= number_to_currency(company.cash_per_share.to_f / 100) %></td>
        <td><%= number_to_currency(company.cash_flow_per_share.to_f / 100) %></td>
        <td><%= number_to_currency(company.dcf_intrinsic_value.to_f / 100) %></td>
        <td>
          <% if company.discount > 10 %>
            <span class="label label-danger">sell</span>
          <% elsif company.discount < -10 %>
            <span class="label label-success">buy</span>
          <% else %>
            <span class="label label-info">meh</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>






