<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @company.symbol %>
</p>

<p>
  <strong>Market:</strong>
  <%= @company.market %>
</p>

<p>
  <strong>Cash per share:</strong>
  <%= @company.cash_per_share %>
</p>

<p>
  <strong>Cash flow per share:</strong>
  <%= @company.cash_flow_per_share %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
